@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

body {
  font-family: "Jost", sans-serif;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.heading h1 {
  margin-right: 20px;
}

#home {
  padding: 80px 0;
}

#home .link-box {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ccff;
  padding: 70px;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

#contact {
  padding: 80px 0;
}
